html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: grid;
    grid-template:
        "h" auto
        "c" minmax(0, 1fr)
        "f" auto;
}

header {
    grid-area: h;
}

footer {
    grid-area: f;
}

main {
    grid-area: c;
    aspect-ratio: 3/2;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.img {
    object-fit: contain;
    max-height: 100%;
    flex: 1;
}

.img img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.scrollable-text {
    overflow: auto;
    flex: 1;
}

.scrollable-text > * {
    padding-left: 1em;
}
